@font-face {
  font-family: 'Nunito';
  src: url('Nunito-Regular.woff2') format('woff2');
}

body {
  display: flex;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #d7d8da; /* Background color for the entire screen */
}

.container {
  display: flex;
  height: 100vh;
  background-color: #d7d8da; /* Background color for the entire screen */
}

.content-container {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
}

.navbar {
  background-color: #82acab; /* Adjust to fit your page color */
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100; /* Ensure the navbar stays on top of other content */
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding-right: 120px;
  margin-left: 450px;
  flex-grow: 1; /* Allow the menu to grow and center */
}

.menu-item {
  color: #fff;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  padding-right: 40px;
  transition: color 0.3s, transform 0.3s, font-weight 0.3s;

  &:hover {
    color: #ffcc00; /* Bold color on hover */
    transform: scale(1.2); /* Pop to the middle on hover */
    font-weight: bold; /* Bold text on hover */
  }
}

.logo {
  max-width: 100px; /* Adjust the logo width */
  height: auto;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.image {
  max-width: 100%;
  height: auto;
  margin-left: 290px;
  margin-bottom: 150px;
  max-height: 100vh;
  border-bottom-right-radius: 50%;
  size: 60cm;
  animation: bounce 2s infinite ease alternate; /* Apply the bounce animation */
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }
}

.intro-box {
  background-color: #b6b2b2; /* Light grey color */
  color: #333; /* Text color */
  padding: 20px;
  border-radius: 10px; /* Border radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-left: 100px;
  margin-bottom: 250px;
  box-shadow: #333; /* Adjust the width according to your design */
}

.point {
  color: white;
  font-size: 25px;
  font-style: italic;
  margin-left: 2dvi;
}

.point h2 {
  animation: fadeInRight 2s ease-out;
}

.point h2 span.i {
  color: black;
}
.all{
  font-family: 'Nunito', sans-serif;
}
.intro-text {
  font-size: 20px;
  font-family: "Arial", sans-serif; /* Choose a good font */
  line-height: 1.5;
}

.sections-container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  margin-left: 360px; /* Adjust the margin as needed */
}

.section {
  width: 300px;
  height: 400px;
  flex: 1;
  padding: 30px;
  margin-left: 10px;
  background-color: #d7d8da; /* Adjust the background color as needed */
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.section1 {

  font-size: 20px;
  text-align: center;
  height: 250px; /* Adjust the height as needed */
  width: 200px; /* Optionally adjust the width as needed */
  flex: 1;
  color: #0b4b54;
  margin-top: 300px;
  padding: 15px; /* Optionally adjust the padding as needed */
  margin-left: 10px;
  margin-right: 45px;
  background-color: #d7d8da; /* Adjust the background color as needed */
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.section:hover {
  background-color: #82acab; /* Bold color on hover */
  transform: translateY(-10px); /* Adjust the distance to pop up */
}

.section-content {
  text-align: center;
}

.footer {
  text-align: center;
  padding: 20px;
  width: 112%;
  background-color: #333;
  color: #fff;
}
.separator {
  font-size: 20px;
  font-weight: bold;
  height: 100px; /* Adjust the height as needed */
  background-color: #d7d8da; /* Color of the separator */
  margin-top: 100px;
  margin-bottom: 70px;
  width: 114.7%;
  text-align: center; /* Adjust the margin as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to the separator */
}

.animated-text {
  opacity: 0; /* Start with opacity set to 0 */
  transform: translateY(
    50px
  ); /* Start with translateY set to move the text 50px down */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

.animate-in {
  opacity: 1; /* Change opacity to 1 when the element becomes visible */
  transform: translateY(
    0
  ); /* Change translateY to 0 to move the text back to its original position */
  transition-delay: 0.5s; /* Delay the animation for 0.5s after it becomes visible */
}
.menu-item.active {
  color: #ffcc00; /* Bold color on hover */
  transform: scale(1.2); /* Pop to the middle on hover */
  font-weight: bold; /* Bold text on hover */
}
